{% extends "apiDisplay/base.html" %}
{% block content %}
    <table class="api_table table-dark table-striped table-bordered table-responsive-xl w-100">
        <thead>
            <tr>
                <th style="width:10%">Book</th>
                <th style="width:20%">Home Team</th>
                <th style="width:20%">Away Team</th>
                <th style="width:20%">Home Team Price</th>
                <th style="width:20%">Away Team Price</th>
                <th style="width:20%">Commence Time</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in data %}

                    <tr>
                        <td>{{ entry.bookmakers.0.title}}</td>
                        <td>{{ entry.home_team }}</td>
                        <td>{{ entry.away_team }}</td>
                        <td>{{ entry.bookmakers.0.markets.0.outcomes.1.name }}<span style="color:green"> <span " ">{{ entry.bookmakers.0.markets.0.outcomes.1.price }}</span></span></td>
                        <td>{{ entry.bookmakers.0.markets.0.outcomes.0.name }}<span style="color:green"> <span " ">{{ entry.bookmakers.0.markets.0.outcomes.0.price }}</span></span></td>
                        <td>{{ entry.commence_time }}</td>
                    </tr>
                   
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
