{% extends "apiDisplay/base.html" %}
{% block content %}
    <table class="api_table table-dark table-striped table-bordered table-responsive-xl w-100">
        <thead>
            <tr>
                <th>Book</th>
                <th>Team</th>
                <th>Commence Time</th>
                <th>Away</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in data %}

                    <tr>
                        <td>{{ entry.home_team}}</td>
                        <td>{{ entry.home_team }}</td>
                        <td>{{ entry.commence_time }}</td>
                        <td>{{ entry.bookmakers.2.markets.0.outcomes.1.name }}</td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
