{% extends "apiDisplay/base.html" %}
{% block content %}
    <!-- header with grey background white text -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h1>Spreads</h1>
                    <p>Example of getting spreads data</p>
                </div>
            </div>
        </div>
    </div>
    <table class="api_table table-dark table-striped table-bordered table-responsive-xl w-100">
        <thead>
            <tr>
                <th style="width:10%">Book</th>
                <th style="width:20%">Home Team</th>
                <th style="width:20%">Away Team</th>
                <th style="width:20%">Home Team Price</th>
                <th style="width:20%">Home Team Points</th>
                <th style="width:20%">Away Team Price</th>
                <th style="width:20%">Away Team Points</th>
                <th style="width:20%">Commence Time</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in data %}
                {% for bookmaker in entry.bookmakers %}
                    <tr>
                        <td>{{ bookmaker.title }}</td>
                        <td>{{ entry.home_team }}</td>
                        <td>{{ entry.away_team }}</td>
                        <td>{{ bookmaker.markets.0.outcomes.1.price }}</td>
                        <td>{{ bookmaker.markets.0.outcomes.1.point }}</td>
                        <td>{{ bookmaker.markets.0.outcomes.0.price }}</td>
                        <td>{{ bookmaker.markets.0.outcomes.0.point }}</td>
                        <td>{{ entry.commence_time }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
